@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&family=Rubik:wght@300&display=swap");

.each-slide-effect > div {
  height: 90vh;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
}

.image__info {
  z-index: 200 !important;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  width: 100%;
  /*bottom: 22px;
  right: 52px;*/
}

.image__quote,
.image__person {
  color: white;
  font-family: "Roboto";
  z-index: 205 !important;
  margin: 6px 0;
  text-align: end;
}

.image__quote {
  font-size: 46px;
  width: 50%;
  font-weight: 600;
}

.image__person {
  font-size: 26px;
  font-weight: 400;
}

.default-nav {
  background-color: transparent !important;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 0 !important;
  transition: all 300ms ease;
  margin: 0 12px;
  transform: scale(1.6);
}

.default-nav:hover {
  transform: scale(1.8);
}

.default-nav svg path {
  fill: white !important;
  transition: all 300ms ease;
}

.default-nav:hover svg path {
  fill: rgb(199, 199, 199) !important;
}

.mobile__image {
  height: 90vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  display: none;
}

.mobile-image__info {
  position: absolute;
  bottom: 24px;
  right: 24px;
  color: white;
  display: flex;
  flex-direction: column;
}

.mobile-image__quote {
  padding: 0;
  margin: 0;
  font-size: 38px;
  text-align: end;
}

.mobile-image__person {
  padding: 0;
  margin: 0;
  text-align: end;
  font-size: 24px;
  font-weight: 500;
  margin-top: 12px;
}

/*

individual info CSS

*/

.image__info--1 {
  top: 68px;
  right: 880px;
}

.image__quote--1 {
  width: 640px;
}

.image__info--2 {
  top: 200px;
  right: 570px;
}

.image__info--2 {
  width: 950px;
}

.image__info--3 {
  top: 200px;
  right: 800px;
}

.image__quote--3 {
  width: 570px;
}

.image__info--4 {
  bottom: 56px;
  right: 104px;
}

.image__quote--4 {
  width: 500px;
}

.image__info--5 {
  top: 100px;
  right: 710px;
}

.image__quote--5 {
  width: 700px;
}

@media (max-width: 5654px) {
  .image__info--1 {
    transform: scale(1.4);
    right: 4000px;
    top: 300px;
  }
}

@media (max-width: 5261px) {
  .image__info--1 {
    top: 240px;
    right: 2900px;
    transform: scale(1.2);
  }
}

@media (max-width: 4318px) {
  .image__info--1 {
    top: 200px;
    right: 2300px;
  }
}

@media (max-width: 3532px) {
  .image__info--1 {
    top: 120px;
    right: 1900px;
  }
}

@media (max-width: 2944px) {
  .image__info--1 {
    right: 1600px;
    transform: scale(1.1);
  }

  .image__info--2 {
    right: 700px;
  }
}

@media (max-width: 2765px) {
  .image__info--1 {
    right: 1350px;
  }
}

@media (max-width: 2413px) {
  .image__info--1 {
    right: 1050px;
    transform: scale(1);
  }
}

@media (max-width: 2260px) {
  .image__info--2 {
  }
}

@media (max-width: 2151px) {
  .image__info--1 {
    right: 930px;
    top: 80px;
  }

  .image__info--2 {
    right: 500px;
  }
}

@media (max-width: 1920px) {
  .image__info--1 {
    top: 68px;
    right: 880px;
    transform: scale(1);
  }
}

@media (max-width: 1850px) {
  .image__info--1 {
    right: 810px;
  }

  .image__info--5 {
    right: 650px;
  }
}

@media (max-width: 1758px) {
  .image__info--1 {
    right: 750px;
  }

  .image__info--3 {
    right: 600px;
  }

  .image__info--5 {
    right: 600px;
  }
}

@media (max-width: 1686px) {
  .image__info--1 {
    transform: scale(0.9);
    right: 660px;
  }

  .image__info--2 {
    transform: scale(0.9);
    right: 400px;
  }

  .image__info--5 {
    right: 410px;
    transform: scale(0.8);
  }
}

@media (max-width: 1603px) {
  .image__info--1 {
    right: 610px;
  }
}

@media (max-width: 1531px) {
  .image__info--1 {
    transform: scale(0.7);
    right: 450px;
    top: 50px;
  }

  .image__info--2 {
    right: 340px;
    top: 160px;
  }

  .image__info--3 {
    right: 450px;
    transform: scale(0.9);
  }
}

@media (max-width: 1474px) {
  .image__info--5 {
    right: 180px;
    transform: scale(0.6);
  }
}

@media (max-width: 1341px) {
  .image__info--1 {
    right: 380px;
  }

  .image__info--2 {
    transform: scale(0.7);
    right: 200px;
    top: 140px;
  }

  .image__info--3 {
    top: 150px;
    right: 370px;
  }
}

@media (max-width: 1152px) {
  .image__info--1 {
    right: 320px;
  }

  .image__info--2 {
    right: 100px;
    top: 140px;
  }

  .image__info--3 {
    top: 100px;
    right: 320px;
  }
}

@media (max-width: 949px) {
  .image__info--1 {
    right: 230px;
  }

  .image__info--2 {
    right: 0;
  }

  .image__info--3 {
    right: 180px;
    transform: scale(0.7);
  }

  .image__info--5 {
    right: 100px;
  }
}

@media (max-width: 470px) {
  .mobile-image__quote {
    font-size: 32px;
  }

  .mobile-image__person {
    font-size: 18px;
  }
}
